!! Colorscheme

*.font: monospace:size=10

! special
*.foreground:   #ffffff
*.background:   #2d2d2d
*.cursorColor:  #ffffff

! black
*.color0:       #2d2d2d
*.color8:       #4f4f4f

! red
*.color1:       #ee6666
*.color9:       #ff9999

! green
*.color2:       #66eeaa
*.color10:      #aaffcc

! yellow
*.color3:       #eeee55
*.color11:      #eeeeaa

! blue
*.color4:       #66bbee
*.color12:      #99ccff

! magenta
*.color5:       #bb88ee
*.color13:      #ffbbff

! cyan
*.color6:       #66eedd
*.color14:      #aaeeee

! white
*.color7:       #a5a5a5
*.color15:      #ffffff


*.alpha: 1

!! URxvt Appearance

URxvt.font: xft:DejaVu Sans Mono:style=Book:size=10
URxvt.boldFont: xft:DejaVu Sans Mono:style=Bold:size=10
URxvt.italicFont: xft:DejaVu Sans Mono:style=Oblique:size=10
URxvt.boldItalicFont: xft:DejaVu Sans Mono:style=Bold Oblique:size=10
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false

!! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1
